*{
  padding: 0;
  margin: 0;
}

.my-button{
  width: 12rem;
}

.my-button:hover{
  background-color: #000;
  
}

.my-line{
  line-height: 1.4rem; 
}

.ul-line{
  line-height: 1rem;
}

a{
  text-decoration: none;  
}
a > span{
  color: #387ed1;
  font-weight: 500;
  font-size: 1rem;
}

.nav-link.active{
  color: #387ed1;
}


.text-container{
  text-align: left;
}


ul > li {
  padding-left: 2.5rem;
  font-weight: 500;
}


.footer-links > a {
  text-decoration: none;
  color: #000;
}

.footer-links > a:hover {
  text-decoration: none;
  color: #387ed1;
}

.my-icons > i{
  padding-left: 1rem;
  opacity: 0.7;
  font-size: 1.5rem;
}

.my-icons > i:hover{
  color: #387ed1;
}

.footer-box {
  display: flex;
  justify-content: space-around;
  color: #000;

}

.footer-box > a{
  color: #000;
  opacity: 0.7;
}


.footer-box > a:hover{
  color: #387ed1;
}

.not-found-contsiner{
  min-height: 40rem;
}



.box-1{
  height: 360px;
  text-align: center;
  align-items: center;
  margin-bottom: 4rem;
}
.box-1 > h2{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.team-section{
  margin-top: 6rem;
  margin-bottom: 3rem;
  margin-bottom: 6rem;
}


.photo{
  border-radius: 50%;
  width: 70%;
  text-align: center;
  padding: 5rem;
}

.img-container{
  display: flex;
  align-items: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.nav-container{
  margin-bottom: 6rem;
}

.footer-container{
  margin-top: 5rem;
  padding-top: 1.5rem;
}

.ruler{
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.my-container{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  border: none;
  text-align: left;
}

.img-container{
  width: 40%;
}




#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
  text-decoration: underline;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 10px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.support-continer{
  margin-top: -5rem;
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.support-create-part h1 , h4{
  font-weight: 400;
  color: #444444;
}